COMPOSE_PROJECT_NAME=docker-apex

ORACLE_PASSWORD=change-me
ORACLE_CHARACTERSET=AL32UTF8
ORACLE_PORT=1521
ORACLE_EM_PORT=5500

DB_SERVICE=XEPDB1
DB_ROOT_SERVICE=XE
APEX_PORT=8081
APEX_ADMIN_USER=ADMIN
APEX_ADMIN_EMAIL=admin@localhost
APEX_ADMIN_PASSWORD=change-me
APEX_PUBLIC_PASSWORD=change-me
ORDS_PUBLIC_PASSWORD=change-me
